@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

$header-color: #758090; 
$border-color: #E9ECF2;
$text-color: #293238;
$text-font-size: 14px;
$title-font-size: 36px;

body, p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: $text-color;
  font-size: $text-font-size;
}

.reviews {
  width: 100%;
  text-align: center;
  &__title {
    color: $header-color;
    font-size: $title-font-size;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    margin: 100px 0;
  }
}

.reviews__decoration {
  position: absolute;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  left: -112px;
  top: -60px;
  background: linear-gradient(145.44deg, #E8EDF0 10.54%, rgba(232, 237, 240, 0) 85.04%);
  z-index: -1;
}

.cards {
  width: 80%;
  max-width: 1150px;
  margin: auto;
  display: grid;
  grid-template-columns: 29% 42% 29%;
  grid-gap: 20px;
}

.card {
  width: 100%;
  min-height: 180px;
  margin-bottom: 20px;
  border: 1px solid $border-color;
  border-radius: 15px;

  &__image {
    min-width: 250px;
    overflow: hidden;
    border-radius: 15px;
    
    img {
      width: 100%
    }
  }

  &--horizontal {
    display: flex;

    & > .card__image {
      img {
        width: auto;
      }
      div {
        max-width: 250px;
        max-height: 250px;
      }
    }
  }

  &__avatar {
    margin: auto 10px;
  }
  
  &__author {
    display: flex;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
  }
  
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  
  &__name {
    font-weight: bold;
  }
  
  &__role {
    font-weight: 300;
    color: rgb(177, 177, 177);
  }

  &__rating {
    width: 70px;
  }

  &__body {
    margin: 20px;
    text-align: left;
    p {
      margin: 0;
    }
    & > *:last-child {
      margin-top: 20px;
    } 
  }
}





